@model ItemModel

<h2>You don't know what to do with your old or non use things? Let exchange it!</h2>
<br />
<h3>Add new item</h3>

<form method="POST">
	<div class="form-group">
		<label asp-for="Name">Name it</label>
		<input asp-for="Name" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Description">Describe it</label>
		<input asp-for="Description" class="form-control" />
	</div>
	<div class="form-check">
		<input asp-for="IsVisible" class="form-check-input" />
		<label asp-for="IsVisible" class="form-check-label">Is visible?</label>
		
	</div>
	
	<div class="form-group">
		<input class="btn btn-primary" type="submit" value ="Add it" />
	</div>
</form>